force-app/main/default/flows/Opportunity_Closed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Add the required role list item created before and add it to a list of required roles</description>
        <name>Add_list_item_to_collection</name>
        <label>Add list item to collection</label>
        <locationX>841</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>List_Of_New_RequiredRole</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredRole_List_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_OLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Will get the values for each field in opportunity line item and assign it to a new list item representing a required role instance</description>
        <name>Assign_Values_for_new_RequiredRole</name>
        <label>Assign Values for new RequiredRole</label>
        <locationX>838</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>RequiredRole_List_Item.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Project</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequiredRole_List_Item.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_OLI.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequiredRole_List_Item.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_OLI.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequiredRole_List_Item.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_OLI.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequiredRole_List_Item.Total_Coverage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_list_item_to_collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Opportunity Closed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Closed</label>
    <loops>
        <description>Will loop across each opportunity line item captured in the get record</description>
        <name>Loop_for_OLI</name>
        <label>Loop for OLI</label>
        <locationX>608</locationX>
        <locationY>286</locationY>
        <collectionReference>Get_OppLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_for_new_RequiredRole</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Required_Roles_in_bulk</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Project</name>
        <label>Create Project</label>
        <locationX>458</locationX>
        <locationY>142</locationY>
        <connector>
            <targetReference>Get_OppLI</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Project_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Manager__c</field>
            <value>
                <elementReference>$Record.Project_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pre Kick Off</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Hours_Sold__c</field>
            <value>
                <elementReference>$Record.Total_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Will insert multiple required roles to the data base</description>
        <name>Create_Required_Roles_in_bulk</name>
        <label>Create Required Roles in bulk</label>
        <locationX>611</locationX>
        <locationY>457</locationY>
        <inputReference>List_Of_New_RequiredRole</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_OppLI</name>
        <label>Get OppLI</label>
        <locationX>459</locationX>
        <locationY>286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_OLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Project</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Contains a list of required role instances to create in bulk</description>
        <name>List_Of_New_RequiredRole</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Required_Role__c</objectType>
    </variables>
    <variables>
        <description>Item to add to de list of required roles collection</description>
        <name>RequiredRole_List_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Required_Role__c</objectType>
    </variables>
</Flow>
